$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

//color
$color-background: oklch(14.7% 0.004 49.25);
$color-foreground: oklch(97% 0 0);
$color-text: oklch(98.5% 0 0);
$color-primary: oklch(60% 0.25 320);
$color-border: oklch(97% 0 0);

